table {
    border-collapse:separate;
    width: 50%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

th {
    background-color: #dddddd;
}
