* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

/* Header */
header {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation Bar */
nav {
    background-color: #1a3047;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #f5a86e;
    border-radius: 1px;
}

/* Description Section */
.description {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #ecf0f1;
}

/* Columns */
.column {
    flex: 1;
    background-color: white;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.col1 {
    background-color: #61fc46;
}

.col2 {
    background-color: #f4da34;
}

.col3 {
    background-color: #ed4040;
}
.details {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #ecf0f1;
}
.row{
      flex: 1;
      flex-direction: column;
    background-color: rgb(32, 189, 189);
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 15px;
    font-size:200%;
}
