table {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: separate;
    width: 50%;
    margin: 20px ;
    border-spacing: 1;
}

th, td {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #ccc;
}

tbody.sn-block:nth-of-type(odd) {
    background-color: lightgreen;
}

tbody.sn-block:nth-of-type(even) {
    background-color: lightblue;
}
